.dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
  .dropdown-header.noti-title
    h6.text-overflow.m-0 Welcome!
  a.dropdown-item(href='/profile')
    i.ni.ni-single-02
    span My profile
  a.dropdown-item(href='/profile')
    i.ni.ni-settings-gear-65
    span Settings
  a.dropdown-item(href='/profile')
    i.ni.ni-calendar-grid-58
    span Activity
  a.dropdown-item(href='/profile')
    i.ni.ni-support-16
    span Support
  .dropdown-divider
  a.dropdown-item.logout(href='#!')
    i.ni.ni-user-run
    span.logout Logout
