//- Argon Scripts
//-  Core
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/bootstrap/dist/js/bootstrap.bundle.min.js')
//- Optional JS
script(src='vendor/chart.js/dist/Chart.min.js')
script(src='vendor/chart.js/dist/Chart.extension.js')
//- Argon JS
script(src='js/argon.min.js?v=1.0.0')